---
layout: default
body_class: home
---
<section id="hero" class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>{{ site.name }}</h1>
      <p>Fighting against toil, busywork, and mindlessness.</p>
    </div>
  </div>
</section>
<section id="why-lazy" class="side-image">
  <div class="images-wrapper"></div>
  <div class="side-image-content">
    <h1>Why Lazy?</h1>
    <p>Saying you are a lazy engineer might seem like a bad idea – after all, we recognize laziness as a vice, not a virtue. But for me, laziness is the fight against toil, busywork, and mindlessness. Being the right kind of lazy means finding ways to eliminate the work that my clients hate, so they can spend more time and energy on the work that they love. Sometimes the solution is technical; often it is human. I can help you find that solution for the work you hate. With a BS in Electrical Engineering and years of development experience, I'm prepared to take on the work you hate. After all, that's the work I love.</p>
  </div>
</section>
<section id="services" class="services">
  <div class="services-container">
    <h1><a href="/services/" class="section-link">Services</a></h1>
    {% include service-grid.html %}
  </div>
</section>
<section id="projects" class="projects">
  <div class="projects-container">
    <h1><a href="/projects/" class="section-link">Projects</a></h1>
    {% include project-cards.html %}
  </div>
</section>
<section id="blog" class="blog">
  <div class="blog-container">
    <h1><a href="/blog/" class="section-link">Blog</a></h1>
    {% assign posts = site.posts %}
    {% include blog-post-cards-one-row.html %}
  </div>
</section>
<section id="contact" class="contact">
  <div class="contact-container">
    <h1>Contact</h1>
    <form action="https://getsimpleform.com/messages?form_api_token=f2e9ee5a3d0adfc9471e5133606ed6f3" method="post">
      <!-- all your input fields here.... -->
      <input type="hidden" name="redirect_to" value="http://jessecarl.github.io/thanks.html" />
      <fieldset>
        <span class="input-group"><label for="name">Name</label><input type="text" name="name" placeholder="Name" required /></span>
        <span class="input-group"><label for="email">Email</label><input type="email" name="email" placeholder="Email" required /></span>
        <span class="input-group"><label for="phone">Phone</label><input type="tel" name="phone" placeholder="Phone" /></span>
      </fieldset>
      <fieldset>
        <legend>Services</legend>
        <span class="checkbox-group"><input type="checkbox" name="services-consulting" value="consulting" id="services-consulting" /><label for="services-consulting">Web Consultation</label></span>
        <span class="checkbox-group"><input type="checkbox" name="services-saas" value="saas" id="services-saas" /><label for="services-saas">SaaS Development</label></span>
        <span class="checkbox-group"><input type="checkbox" name="services-debugging" value="debugging" id="services-debugging" /><label for="services-debugging">Debug and Troubleshoot</label></span>
      </fieldset>
      <div class="text-group"><label for="message">Message</label><textarea name="message" rows="5"></textarea></div>
      <div class="button-group"><button type="submit" name="send">Send</button></div>
    </form>
  </div>
</section>
