<footer>
  <address>
    <img src="http://www.gravatar.com/avatar/055c5f84f186142804fba9393a35ca69" alt="Jesse Allen" /><br />
    Jesse Allen<br />
    <i class="icon-music"></i> Musician / <i class="icon-code"></i> Developer<br />
    <i class="icon-envelope-alt"></i> jesse[at]jessecarl.com<br />
  </address>
  <p>
    <a href="http://github.com/jessecarl/" class="muted"><i class="icon-github-sign"></i></a>
    <a href="http://www.linkedin.com/pub/jesse-allen/2b/362/2a8/" class="muted"><i class="icon-linkedin-sign"></i></a>
    <a href="https://plus.google.com/109707451665965112939/" class="muted"><i class="icon-google-plus-sign"></i></a>
  </p>
</footer>
