<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="{{ site.logo_url }}" alt="{{ site.name }}" />
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="/services/">Services</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow Me</h3></li>
      <li><a href="http://github.com/jessecarl/"><i class="fa fa-github-square"></i> GitHub</a></li>
      <li><a href="http://www.linkedin.com/pub/jesse-allen/2b/362/2a8/"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
      <li><a href="https://plus.google.com/109707451665965112939/"><i class="fa fa-google-plus-square"></i> Google Plus</a></li>
      <li><a href="http://twitter.com/jessecarl"><i class="fa fa-twitter-square"></i> Twitter</a></li>
    </ul>
  </div>

  <hr>

  <p>© Copyright 2016 Jesse Allen</p>
</footer>

