<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="{{ site.logo_url }}" alt="{{ site.name }}" />
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="/services/">Services</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
    <ul>
      <li><h3>Follow Me</h3></li>
      <li><a href="http://github.com/jessecarl/">Github</a></li>
      <li><a href="http://www.linkedin.com/pub/jesse-allen/2b/362/2a8/">LinkedIn</a></li>
      <li><a href="https://plus.google.com/109707451665965112939/">Google Plus</a></li>
      <li><a href="http://twitter.com/jessecarl">Twitter</a></li>
    </ul>
  </div>

  <hr>

  <p>© Copyright 2016 Jesse Allen</p>
</footer>

