<div class="masthead">
  <h2>{{ site.name }} <small>{{ page.title }}</small></h2>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li {% if page.path == 'index.html' %}class="active"{% endif %}>
            <a href="/"><i class="icon-book"></i> Latest Rantings</a>
          </li>
          <li {% if page.path == 'projects/index.html' %}class="active"{% endif %}>
            <a href="/projects/"><i class="icon-wrench"></i> Projects</a>
          </li>
          <li {% if page.path == 'portfolio/index.html' %}class="active"{% endif %}>
            <a href="/portfolio/"><i class="icon-briefcase"></i> Portfolio</a>
          </li>
          <li {% if page.path == 'contract/index.html' %}class="active"{% endif %}>
            <a href="/contract/"><i class="icon-tag"></i> Contract</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
