$home-deep-blue: #95d5f1;
$home-light-blue: #dbe9f5;
$home-light-brown: #c78157;
$home-deep-brown: #72291b;
$medium-screen: em(640) !default;
$large-screen: em(860) !default;

section {
  @include padding(2em 1em 3em 1em);
  @include clearfix;
}

.home h1 a.section-link {
  color: inherit;
}

.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: $home-deep-blue;
  $hero-background-bottom: $home-light-blue;
  $hero-color: $dark-gray;
  $gradient-angle: 10deg;
  $hero-image: '/img/mountain-trail.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include padding(0 0 3em 0);

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        margin-bottom: 0.5em;
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

.side-image {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $side-image-background-top: $dark-gray;
  $side-image-background-bottom: $light-gray;
  $side-image-content-background: $light-gray;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

  background: $side-image-content-background;
  @include padding(0 0 0 0);

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(url('/img/tools.jpg'), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
    background-color: $side-image-background-top;
    background-size: cover;
    background-position: center;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: center;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 8em 4em;
    }

    h1 {
      margin-bottom: 0.9em;
    }

    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin-bottom: 3em;
    }
  }

  @include reset-display();
}

/* home service-items */

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.services {
  $base-background-color: $dark-gray;
  $base-font-color: white;

  background: $base-background-color;
  color: $base-font-color;

  .services-container {
    @include outer-container;
  }

  h1 {
    color: $base-font-color;
  }

  .service-items {
    $base-background-color: white !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $medium-screen: em(640) !default;
    $large-screen: em(860) !default;
    $base-font-color: $dark-gray !default;
    $grid-items-background: $base-background-color;
    $grid-item-background: $base-background-color;
    $grid-item-border: 1px solid transparentize($base-font-color, 0.8); 
    $grid-item-columns: 4;
    $grid-item-big-columns: 8;
    $grid-item-color: $base-font-color;
    $grid-item-height: 16em;

    @include clearfix;
    position: relative;

    .service-item {
      @include transition (all 0.2s ease-in-out);
      background: $grid-item-background;
      border-bottom: $grid-item-border;
      border-right: $grid-item-border;
      cursor: pointer;
      float: left;
      height: $grid-item-height;
      overflow: hidden;
      outline: none;
      padding: 2em;
      text-decoration: none;
      width: 100%;

      @include media($large-screen) {
        @include grid-item-columns($grid-item-columns);
      }

      &:focus,
      &:hover {
        background: transparentize($grid-item-color, 0.95);
      }
    }

    .service-item span.fa-stack {
      display: block;
      height: 2em;
      margin-bottom: 0.5em;
      opacity: 0.6;

      .fa-stack-2x {
        color: $grid-item-color;
      }
      .fa-stack-1x {
        color: $grid-item-background;
      }
    }

    .service-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
    }

    .service-item p {
      color: transparentize($grid-item-color, 0.4);
      line-height: 1.5em;

      @include media($medium-screen) {
        max-width: 70%;
      }
    }

    .service-item-big {
      @include media($large-screen) {
        @include grid-item-columns($grid-item-big-columns);
      }
      p {
        @include media($medium-screen) {
          max-width: 60%;
        }
      }
    }

    // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
    .bottom-cover {
      background: $grid-items-background;
      bottom: 0px;
      height: 3px;
      position: absolute;
      width: 100%;
    }

    .right-cover {
      background: $grid-items-background;
      height: 100%;
      position: absolute;
      right: 0px;
      width: 4px;
    }
  }
}

.service section,
.project section.project-description {
  @include outer-container;
}

.service aside {

  @include media($large-screen) {
    @include span-columns(3);
  }

  .service-link {
    border-bottom: 1px solid transparentize($action-color, 0.8);
    display: block;
    margin-right: $base-spacing;
    outline: none;
    padding: ($base-spacing / 2) 0;

    &:last-child {
      margin-bottom: $base-spacing;
    }
  }
}

.service article {
  @include media($large-screen) {
    @include span-columns(6);
  }
}

article {
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $base-font-color: $dark-gray !default;
  $sans-serif: $helvetica;
  $serif: $georgia;

  @include clearfix;
  font-family: $sans-serif;
  text-align: left;

  h1, h2, h3, p {
    margin: 0;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $action-color;
    text-decoration: none;
  }

  .type {
    border-bottom: 2px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $serif;
    font-size: 1.9em;
    font-weight: 700;
    margin-bottom: 0.3em;

    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }

  h2 {
    font-family: $serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: .9em;

    @include media($medium-screen) {
      font-size: 1.5em;
    }
  }

  code {
    background: #F7F7F7;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-size: 0.75em;
    font-style: normal;
    padding: 0.1em 0.4em;
  }

  pre code {
    display: block;
    overflow: auto;
  }

  h2 code {
    font-size: 0.65em;
  }

  h3 {
    font-family: $serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0.4em;
  }

  p.date {
    color: transparentize($base-font-color, 0.6);
    font-family: $serif;
    font-style: italic;
    margin-bottom: .3em;
  }

  p {
    font-family: $sans-serif;
    letter-spacing: 1;
    line-height: 1.55em;
    margin-bottom: 1.5em;

    span {
      font-family: $serif;
      font-size: 1.2em;
      font-style: italic;
    }
  }
  
  a.read-more {
    display: inline-block;
    font-family: $sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-family: $sans-serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px;
    }
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $serif;
    font-size: 1.2em;
    font-style: italic;
  }
}

.projects {
  $base-background-color: white !default;
  $base-font-color: $dark-gray !default;

  background: $base-background-color;
  color: $base-font-color;

  .projects-container {
    @include outer-container;
  }

  h1 {
    color: $base-font-color;
  }
}

.project {

  .project-basics {
    $base-background-color: white !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $medium-screen: em(640) !default;
    $large-screen: em(860) !default;
    $base-font-color: $dark-gray !default;
    $project-basics-font-color: $base-font-color;

    color: $project-basics-font-color;
    @include background-image(linear-gradient(white, $light-gray));
    border-bottom: 1px solid $light-gray;

    .outer-container {
      @include outer-container;
    }

    .project-images {

      @include media($large-screen) {
        @include span-columns(3);
      }
      @include media($medium-screen) {
        @include span-columns(5);
      }

      img {
        @include fill-parent;
        @include background-image(linear-gradient($dark-gray, $light-gray));
        @include padding(1px);
      }
    }

    .project-info {

      @include media($large-screen) {
        @include span-columns(9);
      }
      @include media($medium-screen) {
        @include span-columns(7);
      }

      h1 {
        font-size: 3em;

        small {
          font-size: 0.5em;
        }
      }

      .project-links {

        a {
          border-bottom: 1px solid transparentize($action-color, 0.8);
          display: block;
          outline: none;
          padding: ($base-spacing / 2) 0;

          &:last-child {
            margin-bottom: $base-spacing;
          }
        }
      }
    }
  }

  .project-description {
  }
}

.project-cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.project-card {
  $base-border-color: $light-gray !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $project-card-border-color: $base-border-color;
  $project-card-border: 1px solid $project-card-border-color;
  $project-card-background: lighten($project-card-border-color, 10%);
  $project-card-header-background: $project-card-background;
  $project-card-margin: 1em;
  $project-card-image-hover-opacity: 0.7;
  $project-card-image-hover-color: $home-light-blue;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $project-card-background;
  border-radius: $base-border-radius;
  border: $project-card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  margin: 0 $project-card-margin $base-spacing $project-card-margin;
  position: relative;


  .project-card-image {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    background-color: $project-card-image-hover-color;

    img {
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      opacity: 1;
    }
  }

  .project-card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $project-card-header-background;
    border-bottom: $project-card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .project-card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {

    img {
      opacity: $project-card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $project-card-background;

    .project-card-header {
      background-color: $project-card-background;
    }
  }
}

.blog {
  $base-background-color: white !default;
  $base-font-color: $dark-gray !default;
  $blog-background-color: $base-font-color;
  $blog-font-color: $base-background-color;

  background: $blog-background-color;
  color: $blog-font-color;

  .blog-container {
    @include outer-container;
  }

  h1 {
    color: $blog-font-color;
    a {
      color: transparentize($blog-font-color, 0.1);
    }
  }
}

.blog-post-cards {
  @include clearfix;
}

.blog-post-card {
  $base-border-color: $light-gray !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $blog-post-card-border-color: darken($dark-gray, 10%);
  $blog-post-card-border: 1px solid $blog-post-card-border-color;
  $blog-post-card-background: lighten($blog-post-card-border-color, 10%);
  $blog-post-card-header-background: $blog-post-card-background;
  $blog-post-card-margin: 1em;
  $blog-post-card-image-hover-opacity: 0.5;
  $blog-post-card-image-hover-color: $dark-gray;

  @include outer-container;
  @include clearfix;
  @include transition (all 0.2s ease-in-out);
  background-color: $blog-post-card-background;
  border-radius: $base-border-radius;
  border-bottom: $blog-post-card-border;
  margin: 0 $blog-post-card-margin $base-spacing $blog-post-card-margin;

  @include media($large-screen) {
    @include span-columns(8);
    @include shift(2);
  }

  .blog-post-card-image {
    overflow: hidden;

    @include media($medium-screen) {
      @include span-columns(4);
    }

    img {
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      opacity: $blog-post-card-image-hover-opacity;
    }
  }

  .blog-post-card-content {
    padding: ($base-spacing / 2) ($base-spacing / 2);

    @include media($medium-screen) {
      @include span-columns(8);
    }

    p {
      font-size: 0.9em;
      line-height: 1.5em;
      margin: 0 0 ($base-spacing / 2);
    }

    a.date {
      color: white;
    }
  }

  &:focus,
  &:hover {
    background-color: lighten($blog-post-card-background, 5%);

    img {
      opacity: 1;
    }
  }
}

.blog-post-pagination {
  text-align: center;
}

.contact {
  $base-background-color: white !default;
  $base-font-color: $dark-gray !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;

  background: $base-background-color;
  color: $base-font-color;

  .contact-container {
    @include outer-container;
  }

  h1 {
    color: $base-font-color;
  }

  form {
    @include outer-container;
    @include clearfix;
  }

  .input-group, .checkbox-group {
    @include clearfix;
    @include media($large-screen) {
      @include span-columns(4);
    }
  }

  .checkbox-group label {
    display: inline;
  }

  :required {
    border-color: lighten(#ff0000, 30%);

    &:hover,
    &:focus {
      border-color: lighten(#ff0000, 40%);
    }
  }
}

.thanks {
  $base-background-color: white !default;
  $base-font-color: $dark-gray !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;

  background: $base-background-color;
  color: $base-font-color;

  .thanks-container {
    @include outer-container;
  }

  h1 {
    color: $base-font-color;
  }

}

section.blog-post-page {
  @include outer-container;

  aside {

    @include media($large-screen) {
      @include span-columns(3);
      @include omega;
    }

    li {
      border-bottom: 1px solid transparentize($action-color, 0.8);
      display: block;
      margin-right: $base-spacing;
      outline: none;
      padding: ($base-spacing / 2) 0;

      &:last-child {
        margin-bottom: $base-spacing;
      }
    }
  }

  article {
    @include media($large-screen) {
      @include span-columns(6);
      @include shift(3);
    }
  }

  .comment-container {
    @include clearfix;
  }
}
