---
layout: default
title: Portfolio
icon: briefcase
examples:
  - img: runboyrun
    url: http://www.runboyrunband.com/
    name: "Run Boy Run"
    description: "Unlike the other portfolio works, this is %100 my own work. Built in [go](http://golang.org/) on [Google App Engine](https://developers.google.com/appengine/). Features albums managed in an admin interface, shows pulled from the [SongKick](http://www.songkick.com/) API, and there is more in development."
  - img: affine
    name: Image Manipulations
    date: '2010-02-01'
    description: "One client wanted header images that appeared to have a border, rounded edges, a reflection, and perspective. I built a set of image manipulations that could be applied to any dynamically assigned image, cached, and served. The client has since changed the site, and the image manipulation suite was not used again."
  - img: desmoines
    url: http://www.catchdesmoines.com/
    name: "Catch Des Moines"
    date: '2012-11-01'
    description: "This site included a customized meeting facility search with sortable columns and easily updated ranges for searching facility data."
  - img: southshore
    url: http://www.southshorecva.com/
    name: "South Shore, Indiana"
    date: '2012-11-01'
    description: "Building this site involved creating custom slideshow animations, social media integration, and asynchronous ad service."
  - img: spokane
    url: http://www.visitspokane.com/
    name: "Spokane, Washington"
    date: '2012-06-01'
    description: "A lot of custom functionality with this site. Highlighted here is the \"Click to Compare\" feature on the meeting facility search. Users can compare facilities head-to-head."
  - img: boulder
    url: http://www.bouldercoloradousa.com/
    name: "Boulder, Colorado"
    date: '2011-05-01'
    description: "My contribution to this site included much of the underlying structure for the miscellaneous dynamic content collections throughout the site, as well as some polish on the client-side functionality."
  - img: beaumont
    url: http://www.beaumontcvb.com/
    name: "Beaumont, TX CVB"
    date: '2010-04-01'
    description: "As with most of these sites, only a few details are visible of my own work. The most interesting contribution of mine is the bobble-head animation."
---
<div class="hero-unit">
  <h1>{{ page.title }}</h1>
  <p>The majority of my current portfolio is from my time as part of a team
  of developers, working on multiple projects. In collecting examples, I
  realized just how much of what I have done is nearly invisible to the user.
  I've chosen a few examples that represent the few places where my work was
  visible to the user.</p>
  <p>The one project I have worked on outside of the team described above is
  the very reason the portfolio is not larger. Spending nearly all of my spare
  time playing music, only the band's web site got even a small amount of
  attention.</p>
</div>
<div class="row-fluid">
  {% for example in page.examples %}
    <div class="span3">
      <div class="thumbnail">
        {% if example.url %}<a href="{{ example.url }}">{% endif %}
          <img src="/img/portfolio/{{ example.img }}.jpg" data-src="/img/portfolio/{{ example.img }}.gif" alt="" />
        {% if example.url %}</a>{% endif %}
      </div>
      <h4>{% if example.url %}<a href="{{ example.url }}">{{ example.name }}</a>{% else %}{{ example.name }}{% endif %}</h4>
      <h5>{{ example.date | date: "%b %Y" }}</h5>
      <p>{{ example.description | markdownify }}</p>
    </div>
    {% if forloop.last != true %}
      {% cycle '', '', '', '</div><div class="row-fluid">' %}
    {% endif %}
  {% endfor %}
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var switchImages = function() {
      var $this = $(this),
      alternate = $this.data('src'),
      original = $this.attr('src');
      $this.data('src', original).attr('src', alternate);
    };
    $('.thumbnail img').filter(function() { return typeof $(this).data('src') !== "undefined" }).on({ mouseenter: switchImages, mouseleave: switchImages });
  });
</script>
